[data-bs-theme=light] {
   --bs-primary: #01645b;
   --bs-primary-rgb: 1, 100, 91;
   --bs-primary-subtle: #01534c;
   --banner-bg: #999999;
   --card-bg: #e6e7e8;
   --card-color: #262626;
   --navbar-bg: #f1f1f1;
}

[data-bs-theme=dark] {
   --bs-primary: #01645b;
   --bs-primary-rgb: 1, 100, 91;
   --bs-primary-subtle: #01534c;
   --banner-bg: #404041;
   --card-bg: #333333;
   --card-color: #e6e7e8;
   --navbar-bg: #1a1a1a;
}

.btn-primary {
   --bs-btn-bg: var(--bs-primary);
   --bs-btn-border-color: var(--bs-primary);
   --bs-btn-hover-bg: var(--bs-primary-subtle);
   --bs-btn-hover-border-color: var(--bs-primary-subtle);
   --bs-btn-active-bg: var(--bs-primary-subtle);
   --bs-btn-active-border-color: var(--bs-primary-subtle);
   --bs-btn-disabled-bg: var(--bs-primary);
   --bs-btn-disabled-border-color: var(--bs-primary);
}





.hero-banner, .hero-banner .carousel-item {background-color: var(--banner-bg);}

.card {
   background-color: var(--card-bg);
   color: var(--card-color);
   border-radius: 0;
   border-width: 0;
   height: 100%;
   padding: 1.5rem;
}

.active {font-weight: bold !important;}

.inset-article {
   background-image: linear-gradient(to top, var(--bs-body-bg), transparent);
}

nav[aria-label="Main navigation"] {
   background-color: var(--navbar-bg);
}





body {
   min-height: 100dvh;
   display: flex;
   flex-direction: column;
}

body>main {flex-grow: 1;}

body>footer {
   background-color: #333333;
   color: white;
}

body>footer .copyright {background-color: #1a1a1a;}

nav[aria-label="Social media navigation"]>a {
   width: 32px;
   height: 32px;
}

nav[aria-label="Social media navigation"]>a>svg {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(1);
}





@media (min-width: 992px) {
   body>footer address {max-width: 14.5em;}
}