html {
   @media (max-width: 991.98px) {
      font-size: 14px;
   }
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
   --bs-gutter-x: 2rem;
}

.text-reset {
   color: currentColor;
   font-size: inherit;
}

.text-muted {
   pointer-events: none;
}

.link-hover {
   text-decoration: none;
   opacity: .75;

   &:hover,
   &:focus,
   &.active {
      text-decoration: none;
      opacity: 1;
   }
}

.link-hover-underline {
   text-decoration: none;
   opacity: .75;

   &:hover,
   &:focus,
   &.active {
      text-decoration: underline;
      opacity: 1;
   }
}

.active.active-muted {
   pointer-events: none;
}

/* .dropdown {
   @media (min-width: 992px) {
      &:hover>.dropdown-menu {
         display: block;
      }
   }
} */