.navbar {
   transform: none;
   transition: .2s ease-in-out;
   --bs-bg-opacity: 1;
   background-color: rgba(var(--bs-body-bg-rgb),var(--bs-bg-opacity));

   .nav-link, .btn, .dropdown-item {
      color: currentColor;
      font-size: inherit;
   }

   .img-default {
      display: inline;
   }
   .img-invert {
      display: none;
   }
   
   &.invert {
      background-color: transparent;
      color: white;
      
      .img-default {
         display: none;
      }
      .img-invert {
         display: inline;
      }
   }
   
   &.toggle-scroll {
      transform: translateY(-98%);
   }
   
   &.scrollTop,
   &.show-dropdown,
   &.scrollTop.show-dropdown {
      background-color: rgba(var(--bs-body-bg-rgb),var(--bs-bg-opacity));
      color: var(--bs-body-color);

      .img-default {
         display: inline;
      }
      .img-invert {
         display: none;
      }
   }

   .navbar-logo {
      img {
         max-width: 10rem;

         @media (min-width: 992px) {
            max-width: 15rem;
         }
      }
   }

   .dropdown {
      &>.nav-link {
         @media (max-width: 991.98px) {
            position: relative;
            cursor: pointer;
            
            &::after {
               content: '\f078';
               font-family: 'FontAwesome';
               color: currentColor;
               opacity: .5;
               position: absolute;
               top: 50%;
               right: 0;
               transform: translateY(-50%) rotate(0deg) scale(.75);
               transition: transform .2s ease-in-out;
            }
            
            &.show::after {
               transform: translateY(-50%) rotate(180deg) scale(1);
               opacity: 1;
            }
         }
      }

      &:hover>.nav-link {
         opacity: 1;
      }

      .dropdown-menu {
         @media (min-width: 992px) {
            position: fixed !important;
            left: 0;
            right: 0;
            /* display: block; */
            /* opacity: 0; */
            /* visibility: hidden; */
            /* transition: opacity .2s ease-in-out; */
         }
      }

      /* &:hover>.dropdown-menu {
         @media (min-width: 992px) {
            opacity: 1;
            visibility: visible;
         }
      } */
   }
}