<!DOCTYPE html>
<html lang="en">
<head>
   <script src="../layout/head.js"></script>
   <title>INDRACO &bull; Roasting Fine Exquisite Coffee Since 1971</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   
      .container,
      .container-lg,
      .container-md,
      .container-sm,
      .container-xl,
      .container-xxl {
         width: 90%;
         max-width: 36rem;
      }

      .link-list {
         .link-item {
            background-color: transparent;
            color: currentColor;

            &>.container {
               transition: .3s ease-in-out;
            }

            &:hover {
               background-color: var(--bs-body-color);
               color: white;

               &>.container {
                  padding-left: 2rem;
                  padding-right: 2rem;
               }
            }

            &:last-child {
               & hr {
                  display: none;
               }
            }
         }
      }
   </style>
</head>
<body>
   <header>
      <div class="container">
         <h1 class="my-4 my-md-5 text-center">
            <img src="../../asset/img/logo-indraco.png" height="auto" alt="INDRACO" style="width: 50vw; max-width: 12rem;">
         </h1>
      </div><!-- end container -->
   </header>
   <main>
      <section>
         <ul class="list-unstyled m-0 link-list">
            <li class="link-item link-hover">
               <div class="container">
                  <a href="#" target="_blank" class="fs-reset text-reset text-decoration-none">
                     <div class="row py-4 align-items-center">
                        <div class="col col-auto">
                           <i class="fas fa-home fa-lg"></i>
                        </div><!-- end col -->
                        <div class="col text-capitalize text-center">
                           <b class="fw-medium">home</b>
                        </div><!-- end col -->
                        <div class="col col-auto">
                           <i class="fas fa-home fa-lg"></i>
                        </div><!-- end col -->
                     </div><!-- end row -->
                  </a>
                  <hr class="m-0">
               </div><!-- end container -->
            </li><!-- end link item -->
            <li class="link-item link-hover">
               <div class="container">
                  <a href="#" target="_blank" class="fs-reset text-reset text-decoration-none">
                     <div class="row py-4 align-items-center">
                        <div class="col col-auto">
                           <i class="fas fa-home fa-lg"></i>
                        </div><!-- end col -->
                        <div class="col text-capitalize text-center">
                           <b class="fw-medium">home</b>
                        </div><!-- end col -->
                        <div class="col col-auto">
                           <i class="fas fa-home fa-lg"></i>
                        </div><!-- end col -->
                     </div><!-- end row -->
                  </a>
                  <hr class="m-0">
               </div><!-- end container -->
            </li><!-- end link item -->
            <li class="link-item link-hover">
               <div class="container">
                  <a href="#" target="_blank" class="fs-reset text-reset text-decoration-none">
                     <div class="row py-4 align-items-center">
                        <div class="col col-auto">
                           <i class="fas fa-home fa-lg"></i>
                        </div><!-- end col -->
                        <div class="col text-capitalize text-center">
                           <b class="fw-medium">home</b>
                        </div><!-- end col -->
                        <div class="col col-auto">
                           <i class="fas fa-home fa-lg"></i>
                        </div><!-- end col -->
                     </div><!-- end row -->
                  </a>
                  <hr class="m-0">
               </div><!-- end container -->
            </li><!-- end link item -->
            <li class="link-item link-hover">
               <div class="container">
                  <a href="#" target="_blank" class="fs-reset text-reset text-decoration-none">
                     <div class="row py-4 align-items-center">
                        <div class="col col-auto">
                           <i class="fas fa-home fa-lg"></i>
                        </div><!-- end col -->
                        <div class="col text-capitalize text-center">
                           <b class="fw-medium">home</b>
                        </div><!-- end col -->
                        <div class="col col-auto">
                           <i class="fas fa-home fa-lg"></i>
                        </div><!-- end col -->
                     </div><!-- end row -->
                  </a>
                  <hr class="m-0">
               </div><!-- end container -->
            </li><!-- end link item -->
            <li class="link-item link-hover">
               <div class="container">
                  <a href="#" target="_blank" class="fs-reset text-reset text-decoration-none">
                     <div class="row py-4 align-items-center">
                        <div class="col col-auto">
                           <i class="fas fa-home fa-lg"></i>
                        </div><!-- end col -->
                        <div class="col text-capitalize text-center">
                           <b class="fw-medium">home</b>
                        </div><!-- end col -->
                        <div class="col col-auto">
                           <i class="fas fa-home fa-lg"></i>
                        </div><!-- end col -->
                     </div><!-- end row -->
                  </a>
                  <hr class="m-0">
               </div><!-- end container -->
            </li><!-- end link item -->
            <li class="link-item link-hover">
               <div class="container">
                  <a href="#" target="_blank" class="fs-reset text-reset text-decoration-none">
                     <div class="row py-4 align-items-center">
                        <div class="col col-auto">
                           <i class="fas fa-home fa-lg"></i>
                        </div><!-- end col -->
                        <div class="col text-capitalize text-center">
                           <b class="fw-medium">home</b>
                        </div><!-- end col -->
                        <div class="col col-auto">
                           <i class="fas fa-home fa-lg"></i>
                        </div><!-- end col -->
                     </div><!-- end row -->
                  </a>
                  <hr class="m-0">
               </div><!-- end container -->
            </li><!-- end link item -->
         </ul><!-- end link list -->
      </section>
   </main>
   <footer>
      <div class="container fs-small">
         <div class="row row-cols-1 row-gap-4 py-4 pt-3">
            <div class="col">
               <div class="row align-items-center">
                  <div class="col">
                     <nav class="d-flex flex-wrap gap-3">
                        <a href="#" target="_blank" class="text-reset fs-reset text-decoration-none">
                           <i class="fab fa-x-twitter fa-xl"></i>
                        </a>
                        <a href="#" target="_blank" class="text-reset fs-reset text-decoration-none">
                           <i class="fab fa-instagram fa-xl"></i>
                        </a>
                        <a href="#" target="_blank" class="text-reset fs-reset text-decoration-none">
                           <i class="fab fa-facebook-f fa-xl"></i>
                        </a>
                        <a href="#" target="_blank" class="text-reset fs-reset text-decoration-none">
                           <i class="fab fa-youtube fa-xl"></i>
                        </a>
                        <a href="#" target="_blank" class="text-reset fs-reset text-decoration-none">
                           <i class="fab fa-tiktok fa-xl"></i>
                        </a>
                     </nav>
                  </div><!-- end col -->
                  <div class="col col-auto">
                     <span class="text-capitalize">indonesia</span>
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end col -->
            <div class="col">
               <p class="text-center m-0">
                  &copy; 1971 - <script>document.write(new Date().getFullYear())</script> INDRACO. All rights reserved
               </p>
            </div><!-- end col -->
         </div><!-- end row -->
      </div><!-- end container -->
   </footer>
   <script src="../js/global.js"></script>
</body>
</html>