/* pages wrapper */
.page-wrapper>.section {
    margin-bottom: calc(var(--size-10) + 1vw);
    padding-top: calc(var(--size-8) + 1vw);
    position: relative;
}

.page-wrapper>.section::before {
    content: '';
    width: calc(100% - var(--size-8));
    border-top: solid 1px var(--color-dark-900);
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 576px) {
    .page-wrapper>.section::before {
        width: calc(90% - var(--size-8));
        max-width: calc(1320px - var(--size-8));
    }
}

.page-wrapper>.section:first-of-type::before {
    display: none;
}

/* images wrapper */
.img-wrapper {
    position: relative;
    overflow: hidden;
    object-fit: cover;
    text-align: center;
}

.img-wrapper>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}


/* breadcrumb */
.breadcrumb-item {
    position: relative;
    margin-right: var(--size-2);
}

.breadcrumb-item::before {
    content: '|';
    color: var(--color-light-900);
    margin-right: var(--size-2);
}

.breadcrumb-item:first-of-type::before {
    content: '';
    margin-right: 0;
}

/* nav chevron */
.nav-chevron>.nav-link {
    position: relative;
}

.nav-chevron>.nav-link::before {
    font-family: 'FontAwesome';
    content: "\f054";
    color: var(--color-dark-700);
    font-size: .875em;
    margin-right: var(--size-2);
}