.page-footer {
    background: var(--color-light-100);
    border-top: solid 1px var(--color-dark-900);
    font-size: small;
}


/* ---------------------------- footbar header */
.footbar-header {
    padding-top: var(--size-9);
    padding-bottom: var(--size-9);
    display: flex;
    flex-wrap: wrap;
    align-items: first baseline;
    justify-content: space-between;
    row-gap: var(--size-9);
}

.footbar-header .card-title {
    font-size: var(--size-5);
    font-family: 'HelveticaNeue Medium';
    text-transform: capitalize;
    margin-bottom: var(--size-4);
}

.footbar-header .nav-chevron {
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--size-8);
    row-gap: var(--size-1);
}

.footbar-header address {
    max-width: 305px;
    display: grid;
    row-gap: var(--size-3);
}

.footbar-header .nav-sosmed {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: var(--size-4);
    row-gap: var(--size-2);
    font-size: var(--size-6);
    margin-top: var(--size-2);
}


/* ---------------------------- footbar footer */
.footbar-footer {
    border-top: solid 1px var(--color-light-900);
}

.footbar-footer>.container {
    padding-top: var(--size-6);
    padding-bottom: var(--size-6);
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--size-8);
    row-gap: var(--size-6);
    align-items: first baseline;
    justify-content: space-between;
}

.footbar-footer .nav-privacy {
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--size-1);
}