.navbrand img {
   height: 24px;
}

.nav-header {
   display: grid;
   grid-template-columns: 1fr auto 1fr;
   column-gap: 1em;
   align-items: center;
   padding: 1em 0;
}

@media (min-width: 992px) {
   .nav-header {
      padding: 2em 0;
      grid-template-columns: auto 1fr;
      column-gap: 2em;
   }

   .navbrand img {
      height: 40px;
   }
}

@media (max-width: 991.98px) {
   .nav-list a {
      padding: .5em 0;
      display: block;
   }
}

@media (min-width: 992px) {
   .nav-list li {
      padding-right: .5em;
   }

   .nav-list li::before {
      content: '|';
      float: left;
      padding-right: .5em;
      color: var(--bs-breadcrumb-divider-color);
   }

   .nav-list li:first-child::before {
      display: none;
   }
}

.scrollTop .nav-bar {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   z-index: 1030;
}

@media (min-width: 992px) {
   .scrollTop .nav-header {
      display: none;
   }

   .scrollTop .offcanvas-body {
      padding: 1.125em 0;
   }
}

@media (max-width: 991.98px) {
   .offcanvas-body {
      flex-grow: 0;
      overflow: visible;
      height: 100%;
      display: grid;
      grid-template-rows: 1fr auto;
      grid-template-columns: 1fr;
      padding: 0;
   }

   .offcanvas-body>* {
      height: 100%;
      padding: 1.125rem;
   }

   .offcanvas-body>*:first-of-type {
      overflow-y: auto;
   }

   .offcanvas-body>*:last-of-type {
      position: relative;
   }

   .offcanvas-body>*:last-of-type::before {
      content: '';
      width: calc(100% - 2.25rem);
      border-top: solid 1px var(--bs-secondary-border-subtle);
      position: absolute;
      top: 0;
      left: 1.125rem;
      right: 1.125rem;
      z-index: 1;
   }
}