@media (min-width: 992px) {
   .footbar-title a {
      pointer-events: none;
   }
}

.nav-products a::before {
   content: '';
   font-family: 'FontAwesome';
   content: "\f054";
   font-size: small;
   margin-right: .5em;
}

@media (max-width: 991.98px) {
   .footbar-title a {
      position: relative;
   }

   .footbar-title a::after {
      font-family: 'FontAwesome';
      content: "\f077";
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(-100%, -50%) rotate(0);
      font-size: 1rem;
      transition: all .36s ease-in-out;
   }

   .footbar-title a.disabled::after {
      display: none;
   }

   .footbar-title a.collapsed::after {
      transform: translate(-100%, -50%) rotate(-180deg);
   }
}

@media (max-width: 991.98px) {
   .footbar main section {
      position: relative;
   }

   .footbar main section::before {
      content: '';
      width: 100%;
      border-top: solid 1px var(--bs-secondary-border-subtle);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transform: translateY(-.75em);
   }

   .footbar main section:first-child::before {
      display: none;
   }
}