html {
   height: 100%;
}

body {
   min-height: 100%;
   display: grid;
   grid-template-rows: auto 1fr auto;
   background: white;
   color: #565656;
}

a {
   color: inherit;
   text-decoration: none;
}

.column-grid-1 {
   grid-template-columns: 1fr;
}

.column-grid-2 {
   grid-template-columns: 1fr 1fr;
}

@media (min-width: 992px) {
   .column-grid-lg-2 {
      grid-template-columns: 1fr 1fr;
   }
}

@media (max-width: 575.98px) {

   .container,
   .container-fluid {
      padding-left: 1.25em;
      padding-right: 1.25em;
   }
}

.btn,
.form-control {
   border-radius: 0;
}