.page-header i {
    font-size: var(--size-6);
}

@media (min-width: 992px) {
    .page-header .nav {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 992px) {
    .page-header .nav-link {
        margin-right: var(--size-2);
    }
}

@media (min-width: 992px) {
    .page-header .nav-link::before {
        content: '|';
        margin-right: var(--size-2);
        color: var(--color-light-900);
    }
}

@media (min-width: 992px) {
    .page-header .nav-link:first-of-type::before {
        display: none;
    }
}


/* ---------------------------- navbar */
.navbar>.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    column-gap: var(--size-4);
    padding-top: var(--size-4);
    padding-bottom: var(--size-4);
}

.navbar-brand>a {
    display: flex;
}

.navbar-brand img {
    width: auto;
    height: 24px;
}

.navbar-section:last-of-type {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

.navbar .nav-collapse {
    display: none;
}

@media (min-width: 992px) {
    .navbar-section:first-of-type {
        display: none;
    }
}

@media (min-width: 992px) {
    .navbar .trigger-search {
        display: none;
    }
}

@media (min-width: 992px) {
    .navbar .nav-collapse {
        display: block;
        font-size: small;
    }
}

@media (min-width: 992px) {
    .navbar .container {
        grid-template-columns: auto 1fr;
        padding-top: var(--size-8);
        padding-bottom: var(--size-8);
    }
}

@media (min-width: 992px) {
    .navbar-brand img {
        height: 32px;
    }
}


/* ---------------------------- sidebar */
.sidebar {
    background: var(--color-white);
    z-index: 1030;
}

.nav-drawer {
    text-transform: capitalize;
    font-family: 'HelveticaNeue Medium';
}

@media (min-width: 992px) {
    .sidebar>.container-lg {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        column-gap: var(--size-8);
    }
}

@media (min-width: 992px) {
    .sidebar .nav-collapse {
        display: none;
    }
}

@media (min-width: 992px) {
    .trigger-sidebar-hide {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 75%;
        max-width: 320px;
        height: 100%;
    }
}

@media (max-width: 991.98px) {
    .sidebar>.container-lg {
        height: 100%;
        display: grid;
        grid-template-rows: 1fr auto;
        row-gap: var(--size-4);
        padding-top: var(--size-4);
        padding-bottom: var(--size-4);
    }
}

@media (max-width: 991.98px) {
    .sidebar .nav-link {
        display: block;
        padding-top: var(--size-2);
        padding-bottom: var(--size-2);
    }
}

@media (max-width: 991.98px) {
    .sidebar .nav-drawer {
        overflow-y: auto;
        border-bottom: solid 1px var(--color-light-900);
    }
}

@media (max-width: 991.98px) {
    .sidebar .trigger-search {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .sidebar .trigger-sidebar-hide {
        position: absolute;
        top: 0;
        left: 100%;
        margin: var(--size-4);
        white-space: nowrap;
    }
}