:root {
   --bs-primary: #fd4f00;
   --bs-primary-rgb: 253, 79, 0;
   --bs-light: #f1f2f2;
   --bs-light-rgb: 241, 242, 242;
   --bs-body-color: #383838;
   --bs-body-color-rgb: 56, 56, 56;
   --link-opacity: .65;
}

html {
   font-size: .875em;

   @media (min-width: 576px) {
      font-size: 1em;
   }

}

body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;

   &>nav,
   &>header,
   &>footer {
      flex-grow: 0;
   }

   &>main {
      flex-grow: 1;

      @media (min-width: 1400px) {
         font-size: 1.125em;
      }
   }
}

input::placeholder,
textarea::placeholder,
.form-control::placeholder {
   color: currentColor;
   opacity: .5;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
   --bs-gutter-x: 2rem;
}

/* .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
   @media (min-width: 1200px) {
      max-width: 1140px;
   }
} */

.fs-reset {
   font-size: inherit;
}

.fs-small {
   font-size: small;
}

.text-justify {
   text-align: justify;
   hyphens: auto;
   word-wrap: break-word;
}

.img-ratio {
   background-color: var(--bs-dark);
   background-image: url(../../../asset/img/no-images.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 50% auto;
   overflow: hidden;

   &>img {
      transform: scale(1.05);
   }
}

.link-hover {
   opacity: var(--link-opacity);
   text-decoration: none;
   cursor: pointer;
   transition: .3s ease-in-out;

   &:hover,
   &:focus {
      opacity: 1;
   }

   &.active {
      opacity: 1;
      color: var(--bs-primary) !important;
   }
}

.link-hover-underline {
   text-decoration: none;
   cursor: pointer;
   transition: .3s ease-in-out;

   &:hover,
   &:focus {
      text-decoration: underline;
   }

   &.active {
      opacity: 1;
      color: var(--bs-primary) !important;
   }
}

.btn-explore-section {
   &>i {
      transform: rotate(180deg);
      transition: transform .3s ease-in-out;
   }

   &.collapsed>i {
      transform: rotate(0deg);
   }
}

.form-check-input,
.form-check-label {
   cursor: pointer;
}

.form-check-input {
   background-color: var(--bs-light);

   &:checked {
      background-color: var(--bs-dark);
   }

   &:checked[type="radio"] {
      --bs-form-check-bg-image: url() !important;
   }
}