<!DOCTYPE html>
<html lang="en">
<head>
   <script src="layout/head.js"></script>
   <link rel="stylesheet" href="css/about.css">
   <title>INDRACO &bull; About Us</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <nav>
      <script src="layout/navbar.js"></script>
   </nav>
   <header></header>
   <main>
      <section class="overflow-hidden">
         <div class="container py-4 py-md-5">
            <div class="row row-gap-4 gx-lg-5 align-items-lg-center justify-content-lg-between">
               <div class="col col-12 col-lg-6">
                  <h2 class="page-title fs-4 mb-4">
                     <b class="fw-medium">ABOUT US</b>
                  </h2>
                  <p class="text-justify">
                     WE ARE INDRACO - Beginning in 1971, producing and distributing coffee, INDRACO continues to advance and expand into several advanced manufacturing facilities and distribution centers across Indonesia and Singapore.
                     <br><br>
                     Specializing in coffee for over half a century, INDRACO aims to create an experience and evoke feelings within each touch point in our customer's journey. From our products to our retail experiences as well as our F&B concepts, creativity and innovation remain at their core.
                     <br><br>
                     With over 11 brands and 600 SKUs across coffee, ginger, and chocolate products, we continue to strive, innovate, and operate with ingenuity taught by our founding members in the ever-changing FMCG and F&B industry. 
                  </p>
               </div><!-- end col -->
               <div class="col col-12 col-lg-6 col-xxl-5">
                  <h5 class="fw-thin display-4">
                     Innovation & <br><b class="fw-medium">Future</b>
                  </h5>
                  <div>
                     <img src="../../asset/img/home-banner-default.jpeg" width="auto" height="auto" alt="" style="max-width: 36rem;">
                  </div>
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <div class="row gx-md-5 justify-content-center">
               <div class="col col-auto">
                  <h2 class="page-title fs-4 mb-4">
                     <b class="fw-medium">OVER THE <br class="d-lg-none">YEARS</b>
                  </h2>
               </div><!-- end col -->
               <div class="col history-list">
                  <div class="row history-item">
                     <div class="col col-auto position-relative">
                        <div class="vr h-100 opacity-100"></div>
                        <span class="fas fa-circle position-absolute top-0 start-50 translate-middle"></span>
                     </div><!-- end col -->
                     <div class="col">
                        <p class="lh-1 m-0">
                           <small><small>1971</small></small>
                        </p>
                        <h5 class="fs-3">
                           <b class="fw-medium">Established</b>
                        </h5>
                        <p class="mb-4 mb-md-5">
                           Founded and established as UD. Intisari, with a small warehouse in Riau, Indonesia. 
                        </p>
                     </div><!-- end col -->
                  </div><!-- end row -->
                  <div class="row history-item">
                     <div class="col col-auto position-relative">
                        <div class="vr h-100 opacity-100"></div>
                        <span class="fas fa-circle position-absolute top-0 start-50 translate-middle"></span>
                     </div><!-- end col -->
                     <div class="col">
                        <p class="lh-1 m-0">
                           <small><small>1977</small></small>
                        </p>
                        <h5 class="fs-3">
                           <b class="fw-medium">Expansion To Surabaya</b>
                        </h5>
                        <p class="mb-4 mb-md-5">
                           Added a new factory in Surabaya, Indonesia and rebranded as "INDRACO".
                        </p>
                     </div><!-- end col -->
                  </div><!-- end row -->
                  <div class="row history-item">
                     <div class="col col-auto position-relative">
                        <div class="vr h-100 opacity-100"></div>
                        <span class="fas fa-circle position-absolute top-0 start-50 translate-middle"></span>
                     </div><!-- end col -->
                     <div class="col">
                        <p class="lh-1 m-0">
                           <small><small>1996</small></small>
                        </p>
                        <h5 class="fs-3">
                           <b class="fw-medium">Moved To Gresik</b>
                        </h5>
                        <p class="mb-4 mb-md-5">
                            Moved all operations and manufacturing to Indraco Driyorejo Factory, located in Gresik, Indonesia, with a larger footprint to accommodate the growing demand.
                        </p>
                     </div><!-- end col -->
                  </div><!-- end row -->
                  <div class="row history-item">
                     <div class="col col-auto position-relative">
                        <div class="vr h-100 opacity-100"></div>
                        <span class="fas fa-circle position-absolute top-0 start-50 translate-middle"></span>
                     </div><!-- end col -->
                     <div class="col">
                        <p class="lh-1 m-0">
                           <small><small>2000</small></small>
                        </p>
                        <h5 class="fs-3">
                           <b class="fw-medium">Integration</b>
                        </h5>
                        <p class="mb-4 mb-md-5">
                           Founded "Asiaterra" to handle the distribution of INDRACO products in Indonesia.
                        </p>
                     </div><!-- end col -->
                  </div><!-- end row -->
                  <div class="row history-item">
                     <div class="col col-auto position-relative">
                        <div class="vr h-100 opacity-100"></div>
                        <span class="fas fa-circle position-absolute top-0 start-50 translate-middle"></span>
                     </div><!-- end col -->
                     <div class="col">
                        <p class="lh-1 m-0">
                           <small><small>2018</small></small>
                        </p>
                        <h5 class="fs-3">
                           <b class="fw-medium">Going International</b>
                        </h5>
                        <p class="mb-4 mb-md-5">
                           Founded and established Supresso International in Singapore, and Malaysia, to distribute our products overseas and capture the international market.
                        </p>
                     </div><!-- end col -->
                  </div><!-- end row -->
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5 text-center">
            <h2 class="page-title fs-4 mb-4">
               <b class="fw-medium">Contact Us</b>
            </h2>
         </div><!-- end container -->
      </section>
   </main>
   <footer>
      <script src="layout/footbar.js"></script>
   </footer>
   <script src="js/global.js"></script>
   <script>
      $(document).ready(function() {
         $('#nav-about').addClass('active');
      });
   </script>
</body>
</html>