<!DOCTYPE html>
<html lang="en">
<head>
   <script src="layout/head.js"></script>
   <link rel="stylesheet" href="css/about.css">
   <title>INDRACO &bull; About Us</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <nav>
      <script src="layout/navbar.js"></script>
   </nav>
   <header></header>
   <main>
      <section class="overflow-hidden">
         <div class="container py-4 py-md-5">
            <div class="row row-gap-4 gx-lg-5 align-items-lg-center justify-content-lg-between">
               <div class="col col-12 col-lg-6">
                  <h2 class="page-title fs-4 mb-4">
                     <b class="fw-medium">ABOUT US</b>
                  </h2>
                  <p class="text-justify">
                     WE ARE INDRACO - Beginning in 1971, producing and distributing coffee, INDRACO continues to advance and expand into several advanced manufacturing facilities and distribution centers across Indonesia and Singapore.
                     <br><br>
                     Specializing in coffee for over half a century, INDRACO aims to create an experience and evoke feelings within each touch point in our customer's journey. From our products to our retail experiences as well as our F&B concepts, creativity and innovation remain at their core.
                     <br><br>
                     With over 11 brands and 600 SKUs across coffee, ginger, and chocolate products, we continue to strive, innovate, and operate with ingenuity taught by our founding members in the ever-changing FMCG and F&B industry. 
                  </p>
               </div><!-- end col -->
               <div class="col col-12 col-lg-6 col-xxl-5">
                  <h5 class="fw-thin display-4">
                     Innovation & <br><b class="fw-medium">Future</b>
                  </h5>
                  <div>
                     <img src="../../asset/img/home-banner-default.jpeg" width="auto" height="auto" alt="" style="max-width: 36rem;">
                  </div>
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <div class="row gx-md-5 justify-content-center">
               <div class="col col-auto">
                  <h2 class="page-title fs-4 mb-4 my-md-5" style="max-width: 20rem;">
                     <b class="fw-medium">OVER THE YEARS</b>
                     <!-- <b class="fw-medium">SEJARAH PENTING PERJALANAN KAMI</b> -->
                  </h2>
               </div><!-- end col -->
               <div class="col col-12 col-md history-list">
                  <div class="row history-item">
                     <div class="col col-auto position-relative">
                        <div class="vr h-100 opacity-100"></div>
                        <span class="fas fa-circle position-absolute top-0 start-50 translate-middle"></span>
                     </div><!-- end col -->
                     <div class="col">
                        <p class="lh-1 m-0">
                           <small><small>1971</small></small>
                        </p>
                        <h5 class="fs-2">
                           <b class="fw-thin">Established</b>
                        </h5>
                        <p class="mb-4 mb-md-5">
                           Founded and established as UD. Intisari, with a small warehouse in Riau, Indonesia. 
                        </p>
                     </div><!-- end col -->
                  </div><!-- end row -->
                  <div class="row history-item">
                     <div class="col col-auto position-relative">
                        <div class="vr h-100 opacity-100"></div>
                        <span class="fas fa-circle position-absolute top-0 start-50 translate-middle"></span>
                     </div><!-- end col -->
                     <div class="col">
                        <p class="lh-1 m-0">
                           <small><small>1977</small></small>
                        </p>
                        <h5 class="fs-2">
                           <b class="fw-thin">Expansion To Surabaya</b>
                        </h5>
                        <p class="mb-4 mb-md-5">
                           Added a new factory in Surabaya, Indonesia and rebranded as "INDRACO".
                        </p>
                     </div><!-- end col -->
                  </div><!-- end row -->
                  <div class="row history-item">
                     <div class="col col-auto position-relative">
                        <div class="vr h-100 opacity-100"></div>
                        <span class="fas fa-circle position-absolute top-0 start-50 translate-middle"></span>
                     </div><!-- end col -->
                     <div class="col">
                        <p class="lh-1 m-0">
                           <small><small>1996</small></small>
                        </p>
                        <h5 class="fs-2">
                           <b class="fw-thin">Moved To Gresik</b>
                        </h5>
                        <p class="mb-4 mb-md-5">
                            Moved all operations and manufacturing to Indraco Driyorejo Factory, located in Gresik, Indonesia, with a larger footprint to accommodate the growing demand.
                        </p>
                     </div><!-- end col -->
                  </div><!-- end row -->
                  <div class="row history-item">
                     <div class="col col-auto position-relative">
                        <div class="vr h-100 opacity-100"></div>
                        <span class="fas fa-circle position-absolute top-0 start-50 translate-middle"></span>
                     </div><!-- end col -->
                     <div class="col">
                        <p class="lh-1 m-0">
                           <small><small>2000</small></small>
                        </p>
                        <h5 class="fs-2">
                           <b class="fw-thin">Integration</b>
                        </h5>
                        <p class="mb-4 mb-md-5">
                           Founded "Asiaterra" to handle the distribution of INDRACO products in Indonesia.
                        </p>
                     </div><!-- end col -->
                  </div><!-- end row -->
                  <div class="row history-item">
                     <div class="col col-auto position-relative">
                        <div class="vr h-100 opacity-100"></div>
                        <span class="fas fa-circle position-absolute top-0 start-50 translate-middle"></span>
                     </div><!-- end col -->
                     <div class="col">
                        <p class="lh-1 m-0">
                           <small><small>2018</small></small>
                        </p>
                        <h5 class="fs-2">
                           <b class="fw-thin">Going International</b>
                        </h5>
                        <p class="mb-4 mb-md-5">
                           Founded and established Supresso International in Singapore, and Malaysia, to distribute our products overseas and capture the international market.
                        </p>
                     </div><!-- end col -->
                  </div><!-- end row -->
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <div class="row row-gap-4 text-center text-lg-start justify-content-lg-around">
               <div class="col col-12 col-lg-6 col-xl-5">
                  <h2 class="page-title fs-4 mb-4">
                     <b class="fw-medium">OUR VISION</b>
                  </h2>
                  <p>
                     Become a globally recognised company and obtain positive growth whereby accentuating our five core values of "Customer Focus", "Teamwork", "Integrity", "Resources", and "Innovation".
                  </p>
               </div><!-- end col -->
               <div class="col col-12 col-lg-6 col-xl-5">
                  <h2 class="page-title fs-4 mb-4">
                     <b class="fw-medium">OUR MISSION</b>
                  </h2>
                  <p>
                     Provide supreme, top-quality products at competitive prices that meet and surpass consumers' needs. 
                  </p>
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <div class="row row-gap-4 text-center text-lg-start justify-content-lg-between">
               <div class="col col-12 col-lg-6 col-xl-5">
                  <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                     <img src="../../asset/img/about-customer-focus.svg" class="object-fit-contain" alt="">
                  </div>
                  <h2 class="page-title fs-4 my-4">
                     <b class="fw-medium">CUSTOMER FOCUS</b>
                  </h2>
                  <p>
                     We will go the distance to delight our customers, manifesting them into our advocates in the process. Our objective is to create and maintain long term relationships with our customers by generating trust, confidence and loyalty. 
                  </p>
               </div><!-- end col -->
               <div class="col col-12 col-lg-6 col-xl-5">
                  <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                     <img src="../../asset/img/about-teamwork.svg" class="object-fit-contain" alt="">
                  </div>
                  <h2 class="page-title fs-4 my-4">
                     <b class="fw-medium">TEAMWORK</b>
                  </h2>
                  <p>
                     We "Work Together as One Team, As One Indraco". We continue to create harmony and always remember those we work with. 
                  </p>
               </div><!-- end col -->
               <div class="col col-12 col-lg-6 col-xl-5">
                  <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                     <img src="../../asset/img/about-innovation.svg" class="object-fit-contain" alt="">
                  </div>
                  <h2 class="page-title fs-4 my-4">
                     <b class="fw-medium">INNOVATION</b>
                  </h2>
                  <p>
                     We are the people who embrace new mindsets and are proactive in commencing changes and enhancement. 
                  </p>
               </div><!-- end col -->
               <div class="col col-12 col-lg-6 col-xl-5">
                  <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                     <img src="../../asset/img/about-integrity.svg" class="object-fit-contain" alt="">
                  </div>
                  <h2 class="page-title fs-4 my-4">
                     <b class="fw-medium">INTEGRITY</b>
                  </h2>
                  <p>
                     We manage our business ethically and morally. We are convinced that we have gained the trust and respect of our customers and everyone we cooperate with by being transparent, honest and honourable in all our actions. 
                  </p>
               </div><!-- end col -->
               <div class="col col-12 col-lg-6 col-xl-5">
                  <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                     <img src="../../asset/img/about-resources.svg" class="object-fit-contain" alt="">
                  </div>
                  <h2 class="page-title fs-4 my-4">
                     <b class="fw-medium">RESOURCES</b>
                  </h2>
                  <p>
                     We escalate our capacity by optimising our abilities and efficiently utilising all resources. We are the people who confront the most complex challenges that others might consider insurmountable.
                  </p>
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <h2 class="page-title fs-4 mb-4">
               <b class="fw-medium">FACTORY</b>
            </h2>
            <div class="row row-cols-1 row-gap-5">
               <div class="col">
                  <div class="row row-gap-3">
                     <div class="col col-12 col-lg order-lg-2">
                        <img src="../../asset/img/about-bambe.jpg" width="100%" height="auto" alt="">
                     </div><!-- end col -->
                     <div class="col col-12 col-lg-4 order-lg-1">
                        <h5 class="fs-2">
                           <b class="fw-thin">PT. Indraco Global Indonesia</b>
                        </h5>
                        <p>
                           Driyorejo, Gresik Mfg. Facility
                           <br><br>
                           Jl. Semeru Industri I No.133 - 135 Bambe, Driyorejo, Gresik 61177 - Indonesia
                        </p>
                     </div><!-- end col -->
                  </div><!-- end row -->
               </div><!-- end col -->
               <div class="col col-xl-10">
                  <div class="row row-gap-3">
                     <div class="col col-12 col-lg order-lg-2">
                        <img src="../../asset/img/about-dumai.jpg" width="100%" height="auto" alt="">
                     </div><!-- end col -->
                     <div class="col col-12 col-lg-4 order-lg-1">
                        <h5 class="fs-2">
                           <b class="fw-thin">PT. Indraco Global Indonesia</b>
                        </h5>
                        <p>
                           Dumai Mfg. Facility
                           <br><br>
                           Jl. Pemuda Darat no.11 Kel. Pangkalan Sesai Dumai Barat 28824 - Riau
                        </p>
                     </div><!-- end col -->
                  </div><!-- end row -->
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <h2 class="page-title fs-4 mb-4 text-lg-center">
               <b class="fw-medium">GALLERY</b>
            </h2>
            <div class="row row-cols-1 row-gap-5 justify-content-lg-end">
               <div class="col">
                  <div class="row row-gap-3">
                     <div class="col col-12 col-lg">
                        <img src="../../asset/img/about-surabaya.jpg" width="100%" height="auto" alt="">
                     </div><!-- end col -->
                     <div class="col col-12 col-lg-4">
                        <h5 class="fs-2">
                           <b class="fw-thin">Supresso Gallery</b>
                        </h5>
                        <p>
                           Surabaya
                           <br><br>
                           Jl. Semeru Industri I No.133 - 135 Bambe, Driyorejo, Gresik 61177 - Indonesia
                        </p>
                     </div><!-- end col -->
                  </div><!-- end row -->
               </div><!-- end col -->
               <div class="col col-xl-10">
                  <div class="row row-gap-3">
                     <div class="col col-12 col-lg">
                        <img src="../../asset/img/about-singapore.jpg" width="100%" height="auto" alt="">
                     </div><!-- end col -->
                     <div class="col col-12 col-lg-4">
                        <h5 class="fs-2">
                           <b class="fw-thin">Supresso Gallery</b>
                        </h5>
                        <p>
                           Singapore
                           <br><br>
                           Jl. Semeru Industri I No.133 - 135 Bambe, Driyorejo, Gresik 61177 - Indonesia
                        </p>
                     </div><!-- end col -->
                  </div><!-- end row -->
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
   </main>
   <footer>
      <script src="layout/footbar.js"></script>
   </footer>
   <script src="js/global.js"></script>
   <script>
      $(document).ready(function() {
         $('#nav-about').addClass('active');
      });
   </script>
</body>
</html>