<!DOCTYPE html>
<html lang="en">
<head>
   <script src="layout/head.js"></script>
   <title>INDRACO &bull; Supresso Exotic Blend Coffee Beans 1000g (Pouch)</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   
      .logo-header {
         width: auto;
         height: 5rem;
   
         @media (min-width: 768px) {
            height: 6rem;
         }
      }
   
      #accordion-product {
         .accordion-header {
            .btn {
               position: relative;
   
               &::before {
                  content: '\f077';
                  font-family: 'FontAwesome';
                  font-size: 1rem;
                  position: absolute;
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%) rotate(0deg);
                  transition: transform .36s ease-in-out;
                  opacity: .5;
               }
   
               &.collapsed::before {
                  transform: translateY(-50%) rotate(180deg);
               }
   
               &::after {
                  content: '\f077';
                  font-family: 'FontAwesome';
                  font-size: 1rem;
                  position: absolute;
                  right: 0;
                  top: 50%;
                  transform: translateY(-50%) rotate(0deg);
                  transition: transform .36s ease-in-out;
                  opacity: .5;
               }
   
               &.collapsed::after {
                  transform: translateY(-50%) rotate(-180deg);
               }
            }
         }
      }
   </style>
</head>
<body>
   <nav>
      <script src="layout/navbar.js"></script>
   </nav>
   <header>
      <div class="page-title pt-3 d-none">
         <div class="container d-flex flex-column row-gap-3">
            <h2 class="fs-4 m-0 text-uppercase">
               <b class="fw-medium">Brands</b>
            </h2>
         </div><!-- end container -->
      </div><!-- end page title -->
      <div class="container">
         <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb pt-2 m-0" style="font-size: .875em;">
               <li class="breadcrumb-item"><a href="products.html">Products</a></li>
               <li class="breadcrumb-item"><a href="consumer.html">Consumer</a></li>
               <li class="breadcrumb-item"><a href="brands.html">Supresso</a></li>
               <li class="breadcrumb-item active" aria-current="page">Exotic Blend Coffee Beans 1000g (Pouch)</li>
            </ol>
         </nav>
      </div><!-- end breadcrumb page -->
   </header>
   <main>
      <section>
         <div class="container py-4 py-md-5">
            <header class="mb-4 mb-md-5">
               <div class="row row-cols-1 text-center row-gap-4 row-cols-md-auto text-md-start justify-content-md-between align-items-md-center">
                  <div class="col order-md-2">
                     <img src="../../asset/img/logo-supresso.png" alt="SUPRESSO" class="logo-header">
                  </div><!-- end col -->
                  <div class="col order-md-1">
                     <h5 class="display-4 m-0">
                        <b class="fw-thin">Coffee</b>
                        <br>
                        <b class="fw-medium">Supresso</b>
                     </h5>
                  </div><!-- end col -->
               </div><!-- end row -->
            </header>
            <main class="text-center">
               <div class="row row-gap-4 row-gap-md-5">
                  <div class="col col-12 mx-auto">
                     <h5 class="text-capitalize fs-3 lh-sm">
                        Sumatra Mandheling Drip Coffee 50g
                     </h5>
                  </div><!-- end col -->
                  <div class="col col-12 col-md-10 col-lg-9 col-xl-8 mx-auto">
                     <div id="slider-detail-product" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-inner">
                           <div class="carousel-item bg-body bg-white active">
                              <div class="ratio ratio-1x1 img-ratio">
                                 <img src="../../asset/img/product-sumatra-mandheling-drip-50(1).png" class="object-fit-contain bg-white" alt="...">
                              </div>
                           </div>
                           <div class="carousel-item bg-body bg-white">
                              <div class="ratio ratio-1x1 img-ratio">
                                 <img src="../../asset/img/product-sumatra-mandheling-drip-50(2).png" class="object-fit-contain bg-white" alt="...">
                              </div>
                           </div>
                           <div class="carousel-item bg-body bg-white">
                              <div class="ratio ratio-1x1 img-ratio">
                                 <img src="../../asset/img/product-sumatra-mandheling-drip-50(3).png" class="object-fit-contain bg-white" alt="...">
                              </div>
                           </div>
                        </div>
                        <button class="carousel-control text-dark display-4 w-auto carousel-control-prev" type="button" data-bs-target="#slider-detail-product" data-bs-slide="prev">
                           <span class="fas fa-chevron-left" aria-hidden="true"></span>
                           <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control text-dark display-4 w-auto carousel-control-next" type="button" data-bs-target="#slider-detail-product" data-bs-slide="next">
                           <span class="fas fa-chevron-right" aria-hidden="true"></span>
                           <span class="visually-hidden">Next</span>
                        </button>
                        <div class="carousel-indicators position-relative gap-2">
                           <button type="button" data-bs-target="#slider-detail-product" data-bs-slide-to="0" class="w-100 h-100 m-0 border-0 active" aria-current="true" aria-label="Slide 1">
                              <div class="ratio ratio-1x1 img-ratio">
                                 <img src="../../asset/img/product-sumatra-mandheling-drip-50(1).png" class="object-fit-cover bg-dark-subtle" alt="">
                              </div>
                           </button>
                           <button type="button" data-bs-target="#slider-detail-product" data-bs-slide-to="1" class="w-100 h-100 m-0 border-0" aria-label="Slide 2">
                              <div class="ratio ratio-1x1 img-ratio">
                                 <img src="../../asset/img/product-sumatra-mandheling-drip-50(2).png" class="object-fit-cover bg-dark-subtle" alt="">
                              </div>
                           </button>
                           <button type="button" data-bs-target="#slider-detail-product" data-bs-slide-to="2" class="w-100 h-100 m-0 border-0" aria-label="Slide 3">
                              <div class="ratio ratio-1x1 img-ratio">
                                 <img src="../../asset/img/product-sumatra-mandheling-drip-50(3).png" class="object-fit-cover bg-dark-subtle" alt="">
                              </div>
                           </button>
                        </div>
                     </div>
                  </div><!-- end col -->
                  <div class="col col-12 mx-auto">
                     <p>
                        <a href="#" class="btn btn-outline-dark rounded-0">
                           <i class="fab fa-instagram"></i> Supresso
                        </a>
                        <br><br>
                        Visit Supresso Instagram page!
                        <br>
                        Like & Follow to see all of our latest updates.
                     </p>
                  </div><!-- end col -->
                  <div class="col col-12 mx-auto">
                     <h5 class="fs-3 mb-2 lh-sm">
                        Exquisite Indonesian Coffee
                     </h5>
                     <p>
                        With coffee beans sourced from the East to the West of Indonesia, Supresso’s collection of Indonesia single-origin coffee results in a premium range of exquisite and distinctive tastes profile. We whole-heartedly devote our premium and supreme quality coffee to all ardent coffee lovers worldwide, in beans, ground, drip, and capsule form. Experience Indonesian coffee in its purest form, with Supresso.
                     </p>
                  </div><!-- end col -->
                  <div class="col col-12 mx-auto">
                     <div class="accordion accordion-flush" id="accordion-product">
                        <div class="accordion-item border-dark">
                           <h5 class="accordion-header">
                              <button class="btn btn-lg rounded-0 border-0 py-3 w-100 fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-product-ingredients" aria-expanded="true">
                                 <b class="fw-medium">Ingridients</b>
                              </button>
                           </h5>
                           <div id="collapse-product-ingredients" class="accordion-collapse collapse show" data-bs-parent="#accordion-product">
                              <div class="accordion-body px-0">
                                 <p>20% Kopi Arabica & 80% Robusta</p>
                              </div>
                           </div>
                        </div>
                        <div class="accordion-item border-dark">
                           <h5 class="accordion-header">
                              <button class="btn btn-lg rounded-0 border-0 py-3 w-100 fs-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-product-description" aria-expanded="false">
                                 <b class="fw-medium">Description</b>
                              </button>
                           </h5>
                           <div id="collapse-product-description" class="accordion-collapse collapse" data-bs-parent="#accordion-product">
                              <p>
                                 20% Kopi Arabica dan 80% Robusta. Komposisi 20/80 ini di-roast dengan mode City+ Roast dan hanya memakai biji kopi asli Indonesia. Tingkat keasamannya yang rendah dan karakter rasanya yang sedikit pahit, nuansa coklat dan natural melengkapi rasanya yang khas dan mewah. 
                              </p>
                              <hr>
                              <p>
                                 CITY+ ROAST
                              </p>
                              <hr>
                              <p>
                                 Nuansa cokelat - Natural - Rasa Biji Kopi Asli
                              </p>
                              <hr>
                              <div class="row g-0">
                                 <div class="col">
                                    <h5 class="opacity-75 mb-2"><small>Tingkat Keasaman :</small></h5>
                                    <p><span class="me-3">Low Acidity</span> <img src="../../../../resource/assets/img/level/level_3-5.svg" class="img-fluid" alt=""></p>
                                 </div><!-- end col -->
                                 <div class="col">
                                    <h5 class="opacity-75 mb-2"><small>Tingkat Kekentalan :</small></h5>
                                    <p><span class="me-3">Heavy Body</span> <img src="../../../../resource/assets/img/level/level_3-5.svg" class="img-fluid" alt=""></p>
                                 </div><!-- end col -->
                              </div><!-- end row -->
                           </div>
                        </div>
                        <div class="accordion-item border-dark">
                           <h5 class="accordion-header">
                              <button class="btn btn-lg rounded-0 border-0 py-3 w-100 fs-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-product-spesification" aria-expanded="false">
                                 <b class="fw-medium">Specification</b>
                              </button>
                           </h5>
                           <div id="collapse-product-spesification" class="accordion-collapse collapse" data-bs-parent="#accordion-product">
                              <div class="accordion-body px-0 text-start">
                                 <div class="row gx-lg-5 align-items-lg-baseline">
                                    <div class="col col-12 col-lg-6">
                                       <h5 class="fs-5 mb-3">
                                          <b class="fw-medium">Pallet Specifications</b> <br>
                                       </h5>
                                       <table class="table table-borderless table-sm w-auto m-0">
                                          <tbody>
                                             <tr>
                                                <td>Content</td>
                                                <td>:</td>
                                                <td>40 cartons</td>
                                             </tr>
                                             <tr>
                                                <td>Net Weight</td>
                                                <td>:</td>
                                                <td>600 kg</td>
                                             </tr>
                                             <tr>
                                                <td>Gross Weight</td>
                                                <td>:</td>
                                                <td>660 kg</td>
                                             </tr>
                                             <tr>
                                                <td>Dimension</td>
                                                <td>:</td>
                                                <td>110 x 110 x 187 cm</td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div><!-- end col -->
                                    <div class="col col-12 d-lg-none"><hr></div><!-- end col -->
                                    <div class="col col-12 col-lg-6">
                                       <h5 class="fs-5 mb-3">
                                          <b class="fw-medium">Sea Freight Container Capacity - with Pallets</b> <br>
                                       </h5>
                                       <table class="table table-borderless table-sm w-auto m-0">
                                          <tbody>
                                             <tr>
                                                <td>20 FT Container FCL</td>
                                                <td>:</td>
                                                <td>approx. 10 pallets</td>
                                                <td>=</td>
                                                <td>400 cartons</td>
                                             </tr>
                                             <tr>
                                                <td>40 FT Container FCL</td>
                                                <td>:</td>
                                                <td>approx. 20 pallets</td>
                                                <td>=</td>
                                                <td>800 cartons</td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div><!-- end col -->
                                    <div class="col col-12"><hr></div><!-- end col -->
                                    <div class="col col-12 col-lg-6">
                                       <h5 class="fs-5 mb-3">
                                          <b class="fw-medium">Sea Freight Container Capacity - without Pallets</b> <br>
                                       </h5>
                                       <table class="table table-borderless table-sm w-auto m-0">
                                          <tbody>
                                             <tr>
                                                <td>20 FT Container FCL</td>
                                                <td>:</td>
                                                <td>approx. 590 cartons</td>
                                             </tr>
                                             <tr>
                                                <td>40 FT Container FCL</td>
                                                <td>:</td>
                                                <td>approx. 1,260 cartons</td>
                                             </tr>
                                             <tr>
                                                <td>40 FT HC Container FCL</td>
                                                <td>:</td>
                                                <td>approx. 1,420 cartons</td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div><!-- end col -->
                                    <div class="col col-12 d-lg-none"><hr></div><!-- end col -->
                                    <div class="col col-12 col-lg-6">
                                       <h5 class="fs-5 mb-3">
                                          <b class="fw-medium">Bags Specifications</b> <br>
                                       </h5>
                                       <table class="table table-borderless table-sm w-auto m-0">
                                          <tbody>
                                             <tr>
                                                <td>Net Weight</td>
                                                <td>:</td>
                                                <td>1000g</td>
                                             </tr>
                                             <tr>
                                                <td>Dimension</td>
                                                <td>:</td>
                                                <td>175 x 80 x 300 mm</td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div><!-- end col -->
                                    <div class="col col-12"><hr></div><!-- end col -->
                                    <div class="col col-12 col-lg-6">
                                       <h5 class="fs-5 mb-3">
                                          <b class="fw-medium">Carton Specifications</b> <br>
                                       </h5>
                                       <table class="table table-borderless table-sm w-auto m-0">
                                          <tbody>
                                             <tr>
                                                <td>Content</td>
                                                <td>:</td>
                                                <td>15 bags</td>
                                             </tr>
                                             <tr>
                                                <td>Net Weight</td>
                                                <td>:</td>
                                                <td>15kg</td>
                                             </tr>
                                             <tr>
                                                <td>Gross Weight</td>
                                                <td>:</td>
                                                <td>16.3kg</td>
                                             </tr>
                                             <tr>
                                                <td>Dimension</td>
                                                <td>:</td>
                                                <td>534 x 275 x 350 mm</td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div><!-- end col -->
                                 </div><!-- end row -->
                              </div>
                           </div>
                        </div>
                     </div><!-- end accordion -->
                  </div><!-- end col -->
                  <div class="col col-12">
                     <a href="#" class="btn btn-lg btn-outline-dark rounded-0 w-100" style="max-width: 21rem;">
                        <i class="fas fa-shopping-cart"></i> Beli Sekarang
                     </a>
                  </div><!-- end col -->
               </div><!-- end row -->
            </main>
         </div><!-- end container -->
      </section>
   </main>
   <footer>
      <script src="layout/footbar.js"></script>
   </footer>
   <script src="js/global.js"></script>
   <script>
      $(document).ready(function() {
         $('#nav-products').addClass('active');
      });
   </script>
</body>
</html>