<!DOCTYPE html>
<html lang="en">
<head>
   <script src="layout/head.js"></script>
   <title>INDRACO &bull; Brochures</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <nav>
      <script src="layout/navbar.js"></script>
   </nav>
   <header>
      <div class="page-title opacity-0 visually-hidden">
         <div class="container">
            <h2 class="fs-4 m-0 text-uppercase">
               <b class="fw-medium">brochures</b>
            </h2>
         </div><!-- end container -->
      </div><!-- end page title -->
   </header>
   <main>
      <section>
         <div class="container py-4 py-md-5">
            <div class="row gx-md-5 align-items-md-center">
               <div class="col col-4 col-md-3">
                  <div class="ratio ratio-1x1 img-ratio">
                     <img src="../../asset/img/brochures-cp.jpg" class="object-fit-xl-cover" alt="">
                  </div>
               </div><!-- end col -->
               <div class="col col-8 col-md">
                  <h5 class="fs-2 mb-4 lh-1">
                     <b class="fw-thin">Company Profile</b>
                  </h5>
                  <div class="row row-cols-1 row-cols-md-auto">
                     <div class="col">
                        <a href="#" class="btn btn-outline-dark rounded-0 w-100 px-5">
                           <i class="fas fa-download"></i> Download
                        </a>
                     </div><!-- end col -->
                  </div>
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <div class="row gx-md-5 align-items-md-center">
               <div class="col col-4 col-md-3">
                  <div class="ratio ratio-1x1 img-ratio">
                     <img src="../../asset/img/brochures-supresso.jpg" class="object-fit-xl-cover" alt="">
                  </div>
               </div><!-- end col -->
               <div class="col col-8 col-md">
                  <h5 class="fs-2 mb-4 lh-1">
                     <b class="fw-thin">Supresso Product Specification</b>
                  </h5>
                  <div class="row row-cols-1 row-cols-md-auto">
                     <div class="col">
                        <a href="#" class="btn btn-outline-dark rounded-0 w-100 px-5">
                           <i class="fas fa-download"></i> Download
                        </a>
                     </div><!-- end col -->
                  </div>
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <div class="row gx-md-5 align-items-md-center">
               <div class="col col-4 col-md-3">
                  <div class="ratio ratio-1x1 img-ratio">
                     <img src="../../asset/img/brochures-indraco-spec.jpg" class="object-fit-xl-cover" alt="">
                  </div>
               </div><!-- end col -->
               <div class="col col-8 col-md">
                  <h5 class="fs-2 mb-4 lh-1">
                     <b class="fw-thin">UCAFÉ Product Specification</b>
                  </h5>
                  <div class="row row-cols-1 row-cols-md-auto">
                     <div class="col">
                        <a href="#" class="btn btn-outline-dark rounded-0 w-100 px-5">
                           <i class="fas fa-download"></i> Download
                        </a>
                     </div><!-- end col -->
                  </div>
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <div class="row gx-md-5 align-items-md-center">
               <div class="col col-4 col-md-3">
                  <div class="ratio ratio-1x1 img-ratio">
                     <img src="../../asset/img/brochures-indraco-spec.jpg" class="object-fit-xl-cover" alt="">
                  </div>
               </div><!-- end col -->
               <div class="col col-8 col-md">
                  <h5 class="fs-2 mb-4 lh-1">
                     <b class="fw-thin">BROCHOCO Product Specification</b>
                  </h5>
                  <div class="row row-cols-1 row-cols-md-auto">
                     <div class="col">
                        <a href="#" class="btn btn-outline-dark rounded-0 w-100 px-5">
                           <i class="fas fa-download"></i> Download
                        </a>
                     </div><!-- end col -->
                  </div>
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <div class="row gx-md-5 align-items-md-center">
               <div class="col col-4 col-md-3">
                  <div class="ratio ratio-1x1 img-ratio">
                     <img src="../../asset/img/brochures-indraco-spec.jpg" class="object-fit-xl-cover" alt="">
                  </div>
               </div><!-- end col -->
               <div class="col col-8 col-md">
                  <h5 class="fs-2 mb-4 lh-1">
                     <b class="fw-thin">Jaheku Product Specification</b>
                  </h5>
                  <div class="row row-cols-1 row-cols-md-auto">
                     <div class="col">
                        <a href="#" class="btn btn-outline-dark rounded-0 w-100 px-5">
                           <i class="fas fa-download"></i> Download
                        </a>
                     </div><!-- end col -->
                  </div>
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
   </main>
   <footer>
      <script src="layout/footbar.js"></script>
   </footer>
   <script src="js/global.js"></script>
   <script>
      $(document).ready(function() {
         $('#nav-brochures').addClass('active');
      });
   </script>
</body>
</html>