<!DOCTYPE html>
<html lang="en">
<head>
   <script src="layout/head.js"></script>
   <title>INDRACO &bull; Businesses</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <nav>
      <script src="layout/navbar.js"></script>
   </nav>
   <header>
      <div class="page-title opacity-0 visually-hidden">
         <div class="container">
            <h2 class="fs-4 m-0 text-uppercase">
               <b class="fw-medium">businesses</b>
            </h2>
         </div><!-- end container -->
      </div><!-- end page title -->
   </header>
   <main>
      <section>
         <div class="container py-4 py-md-5">
            <header>
               <h5 class="display-4">
                  <b class="fw-thin">Distribution</b>
                  <br>
                  <b class="fw-medium">Channels</b>
               </h5>
               <p class="lead">
                   We operate a nation-wide distribution system with multiple reliable channels to support the spread of our mission and to supply the best of our services.
               </p>
            </header>
            <main class="collapse d-lg-block" id="collapse-distribution-channels">
               <div class="row row-gap-4 text-center text-lg-start pt-5 gx-xl-5">
                  <div class="col col-12 col-lg-6">
                     <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                        <img src="../../asset/img/businesses-domestic.svg" class="object-fit-contain" alt="">
                     </div>
                     <h5 class="page-title fs-5 my-3">
                        <b class="fw-medium">Domestic Distribution Map</b>
                     </h5>
                     <p>
                        Our team of talented distributors work simultaneously around the clock to deliver the best of our products and services to customers.
                     </p>
                  </div><!-- end col -->
                  <div class="col col-12 col-lg-6">
                     <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                        <img src="../../asset/img/businesses-global.svg" class="object-fit-contain" alt="">
                     </div>
                     <h5 class="page-title fs-5 my-3">
                        <b class="fw-medium">International Distribution Map</b>
                     </h5>
                     <p>
                        We are building our international distribution network, starting from major cities in Asia.
                     </p>
                  </div><!-- end col -->
               </div><!-- end row -->
            </main>
            <footer class="text-end d-lg-none">
               <button type="button" class="btn btn-explore-section collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-distribution-channels">
                  <i class="fas fa-chevron-down fa-xl"></i>
               </button>
            </footer>
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <header>
               <h5 class="display-4">
                  <b class="fw-thin">Online</b>
                  <br>
                  <b class="fw-medium">Channels</b>
               </h5>
               <p class="lead">
                  Our advanced online platforms are now live and available for our customers to search, explore and enjoy our products in the easiest ways possible.
               </p>
            </header>
            <main class="collapse d-lg-block" id="collapse-beverage-dispensers">
               <div class="row row-gap-4 text-center text-lg-start pt-5 gx-xl-5">
                  <div class="col col-12 col-lg-6">
                     <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                        <img src="../../asset/img/businesses-ecommerce.svg" class="object-fit-contain" alt="">
                     </div>
                     <h5 class="page-title fs-5 my-3">
                        <b class="fw-medium">E-commerce</b>
                     </h5>
                     <p>
                        Our online catalog and products with best prices, vouchers, and special discounts for all members of the coffee lovers community.
                     </p>
                     <ul class="list-unstyled d-flex flex-wrap row-gap-3 column-gap-4 align-items-center justify-content-center justify-content-lg-start column-gap-xxl-5">
                        <li>
                           <a href="#" target="_blank" class="text-decoration-none text-reset">
                              <img src="../../asset/img/logo-indracostore.png" width="100%" height="auto" alt="" style="max-width: 12rem;">
                           </a>
                        </li>
                        <li>
                           <a href="#" target="_blank" class="text-decoration-none text-reset">
                              <img src="../../asset/img/logo-supresso-typograph.png" width="100%" height="auto" alt="" style="max-width: 12rem;">
                           </a>
                        </li>
                     </ul>
                  </div><!-- end col -->
                  <div class="col col-12 col-lg-6">
                     <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                        <img src="../../asset/img/businesses-marketplace.svg" class="object-fit-contain" alt="">
                     </div>
                     <h5 class="page-title fs-5 my-3">
                        <b class="fw-medium">Marketplace</b>
                     </h5>
                     <p>
                        Discover our top products available now on leading marketplaces near you.
                     </p>
                     <ul class="list-unstyled d-flex flex-wrap row-gap-3 column-gap-4 align-items-center justify-content-center justify-content-lg-start column-gap-xxl-5">
                        <li>
                           <a href="#" target="_blank" class="text-decoration-none text-reset">
                              <img src="../../asset/img/logo-shopee.png" width="100%" height="auto" alt="" style="max-width: 8rem;">
                           </a>
                        </li>
                        <li>
                           <a href="#" target="_blank" class="text-decoration-none text-reset">
                              <img src="../../asset/img/logo-lazada.png" width="100%" height="auto" alt="" style="max-width: 8rem;">
                           </a>
                        </li>
                        <li>
                           <a href="#" target="_blank" class="text-decoration-none text-reset">
                              <img src="../../asset/img/logo-tokopedia.png" width="100%" height="auto" alt="" style="max-width: 9rem;">
                           </a>
                        </li>
                        <li>
                           <a href="#" target="_blank" class="text-decoration-none text-reset">
                              <img src="../../asset/img/logo-blibli.png" width="100%" height="auto" alt="" style="max-width: 6rem;">
                           </a>
                        </li>
                        <li>
                           <a href="#" target="_blank" class="text-decoration-none text-reset">
                              <img src="../../asset/img/logo-tiktok.png" width="100%" height="auto" alt="" style="max-width: 10rem;">
                           </a>
                        </li>
                     </ul>
                  </div><!-- end col -->
               </div><!-- end row -->
            </main>
            <footer class="text-end d-lg-none">
               <button type="button" class="btn btn-explore-section collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-beverage-dispensers">
                  <i class="fas fa-chevron-down fa-xl"></i>
               </button>
            </footer>
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <header>
               <h5 class="display-4">
                  <b class="fw-thin">F&B</b>
                  <br>
                  <b class="fw-medium">Service</b>
               </h5>
               <p class="lead">
                  Series of F&B services that we excel in, presented with the best experience-centered styles and culture.
               </p>
            </header>
            <main class="collapse d-lg-block" id="collapse-beverage-dispensers">
               <div class="row row-cols-1 row-gap-4 text-center row-cols-lg-2 text-lg-start pt-5 row-cols-xl-3 gx-xl-5 align-items-baseline">
                  <div class="col">
                     <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                        <img src="../../asset/img/logo-supresso-dark.svg" class="object-fit-contain" alt="">
                     </div>
                     <h5 class="page-title fs-5 my-3">
                        <b class="fw-medium">Supresso Gallery</b>
                     </h5>
                     <p>
                        Experience our coffee at their finest, guided and served by our highly talented baristas and servers. Explore Indonesian single-origin coffees and their complete richness here.
                     </p>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                        <img src="../../asset/img/logo-supresso-dark.svg" class="object-fit-contain" alt="">
                     </div>
                     <h5 class="page-title fs-5 my-3">
                        <b class="fw-medium">Supresso Coffeehouse</b>
                     </h5>
                     <p>
                        Enjoy your time at Supresso Coffeehouse, open daily.
                     </p>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                        <img src="../../asset/img/logo-pandan-dark.svg" class="object-fit-contain" alt="">
                     </div>
                     <h5 class="page-title fs-5 my-3">
                        <b class="fw-medium">Pandan Garden</b>
                     </h5>
                     <p>
                        Authentic Indonesian cuisines with their richness of spice and traditions, available daily for you and your best moments.
                     </p>
                  </div><!-- end col -->
               </div><!-- end row -->
            </main>
            <footer class="text-end d-lg-none">
               <button type="button" class="btn btn-explore-section collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-beverage-dispensers">
                  <i class="fas fa-chevron-down fa-xl"></i>
               </button>
            </footer>
         </div><!-- end container -->
      </section>
   </main>
   <footer>
      <script src="layout/footbar.js"></script>
   </footer>
   <script src="js/global.js"></script>
   <script>
      $(document).ready(function() {
         $('#nav-businesses').addClass('active');
      });
   </script>
</body>
</html>