<!DOCTYPE html>
<html lang="en">
<head>
   <script src="layout/head.js"></script>
   <title>INDRACO &bull; Products Consumer</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   
      .list-logo img {
         max-width: 14rem;
      }
   </style>
</head>
<body>
   <nav>
      <script src="layout/navbar.js"></script>
   </nav>
   <header>
      <div class="page-title opacity-0 visually-hidden">
         <div class="container">
            <h2 class="fs-4 m-0 text-uppercase">
               <b class="fw-medium">consumer</b>
            </h2>
         </div><!-- end container -->
      </div><!-- end page title -->
      <div class="container">
         <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb pt-2" style="font-size: .875em;">
               <li class="breadcrumb-item"><a href="products.html">Products</a></li>
               <li class="breadcrumb-item active" aria-current="page">Consumer</li>
            </ol>
         </nav>
      </div><!-- end breadcrumb page -->
   </header>
   <main>
      <section>
         <div class="container py-4 py-md-5">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 list-logo">
               <div class="col">
                  <a href="brands.html" class="text-decoration-none text-reset">
                     <div class="ratio ratio-16x9 text-bg-light rounded-4 border">
                        <img src="../../asset/img/logo-supresso.png" class="object-fit-contain h-50 top-50 start-50 translate-middle" alt="">
                     </div>
                  </a>
               </div><!-- end col -->
               <div class="col">
                  <a href="brands.html" class="text-decoration-none text-reset">
                     <div class="ratio ratio-16x9 text-bg-light rounded-4 border">
                        <img src="../../asset/img/logo-balicafe.png" class="object-fit-contain h-50 top-50 start-50 translate-middle" alt="">
                     </div>
                  </a>
               </div><!-- end col -->
               <div class="col">
                  <a href="brands.html" class="text-decoration-none text-reset">
                     <div class="ratio ratio-16x9 text-bg-light rounded-4 border">
                        <img src="../../asset/img/logo-ucafe.png" class="object-fit-contain h-50 top-50 start-50 translate-middle" alt="">
                     </div>
                  </a>
               </div><!-- end col -->
               <div class="col">
                  <a href="brands.html" class="text-decoration-none text-reset">
                     <div class="ratio ratio-16x9 text-bg-light rounded-4 border">
                        <img src="../../asset/img/logo-rasa-sayang.png" class="object-fit-contain h-50 top-50 start-50 translate-middle" alt="">
                     </div>
                  </a>
               </div><!-- end col -->
               <div class="col">
                  <a href="brands.html" class="text-decoration-none text-reset">
                     <div class="ratio ratio-16x9 text-bg-light rounded-4 border">
                        <img src="../../asset/img/logo-tugu-buaya.png" class="object-fit-contain h-50 top-50 start-50 translate-middle" alt="">
                     </div>
                  </a>
               </div><!-- end col -->
               <div class="col">
                  <a href="brands.html" class="text-decoration-none text-reset">
                     <div class="ratio ratio-16x9 text-bg-light rounded-4 border">
                        <img src="../../asset/img/logo-uang-emas.png" class="object-fit-contain h-50 top-50 start-50 translate-middle" alt="">
                     </div>
                  </a>
               </div><!-- end col -->
               <div class="col">
                  <a href="brands.html" class="text-decoration-none text-reset">
                     <div class="ratio ratio-16x9 text-bg-light rounded-4 border">
                        <img src="../../asset/img/logo-hao.png" class="object-fit-contain h-50 top-50 start-50 translate-middle" alt="">
                     </div>
                  </a>
               </div><!-- end col -->
               <div class="col">
                  <a href="brands.html" class="text-decoration-none text-reset">
                     <div class="ratio ratio-16x9 text-bg-light rounded-4 border">
                        <img src="../../asset/img/logo-brochoco.png" class="object-fit-contain h-50 top-50 start-50 translate-middle" alt="">
                     </div>
                  </a>
               </div><!-- end col -->
               <div class="col">
                  <a href="brands.html" class="text-decoration-none text-reset">
                     <div class="ratio ratio-16x9 text-bg-light rounded-4 border">
                        <img src="../../asset/img/logo-jaheku.png" class="object-fit-contain h-50 top-50 start-50 translate-middle" alt="">
                     </div>
                  </a>
               </div><!-- end col -->
               <div class="col">
                  <a href="brands.html" class="text-decoration-none text-reset">
                     <div class="ratio ratio-16x9 text-bg-light rounded-4 border">
                        <img src="../../asset/img/logo-intirasa.png" class="object-fit-contain h-50 top-50 start-50 translate-middle" alt="">
                     </div>
                  </a>
               </div><!-- end col -->
               <div class="col">
                  <a href="brands.html" class="text-decoration-none text-reset">
                     <div class="ratio ratio-16x9 text-bg-light rounded-4 border">
                        <img src="../../asset/img/logo-ceria.png" class="object-fit-contain h-50 top-50 start-50 translate-middle" alt="">
                     </div>
                  </a>
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
   </main>
   <footer>
      <script src="layout/footbar.js"></script>
   </footer>
   <script src="js/global.js"></script>
   <script>
      $(document).ready(function() {
         $('#nav-products').addClass('active');
      });
   </script>
</body>
</html>