<!DOCTYPE html>
<html lang="en">
<head>
   <script src="layout/head.js"></script>
   <title>INDRACO &bull; Contact Us</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }

      .contact-list {
         li {
            display: flex;
            align-items: center;
            column-gap: .25rem;
            
            .span-link {
               min-width: 8rem;
            }
         }
      }
   </style>
</head>
<body>
   <nav>
      <script src="layout/navbar.js"></script>
   </nav>
   <header>
      <div class="page-title opacity-0 visually-hidden">
         <div class="container">
            <h2 class="fs-4 m-0 text-uppercase">
               <b class="fw-medium">contact us</b>
            </h2>
         </div><!-- end container -->
      </div><!-- end page title -->
   </header>
   <main>
      <section>
         <div class="container py-4 py-md-5">
            <header>
               <h5 class="display-4 lh-1 text-capitalize">
                  <b class="fw-thin">contact us</b>
               </h5>
               <p class="lead mb-4">
                  Feel free to email us to provide some feedback on our information about us, or to just say hello!
               </p>
            </header>
            <form action="">
               <div class="row flex-column">
                  <div class="col col-12 col-lg-8">
                     <div class="form-group mb-3">
                        <label class="form-label">Name</label>
                        <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" placeholder="Enter Full Name" type="">
                     </div>
                     <div class="form-group mb-3">
                        <label class="form-label">Email</label>
                        <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" placeholder="Enter Your Email Address" type="">
                     </div>
                     <div class="form-group mb-3">
                        <label class="form-label">Phone Number</label>
                        <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" placeholder="Enter Your Phone Number" type="">
                     </div>
                     <div class="form-group mb-3">
                        <label class="form-label">Subject</label>
                        <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" placeholder="Enetr Subject Message" type="">
                     </div>
                     <div class="form-group mb-5">
                        <label class="form-label">Message</label>
                        <textarea name="" id="" class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0" rows="5" placeholder="Enter Your Message"></textarea>
                     </div>
                     <div class="form-group mb-5">
                        <!-- chapcha -->
                     </div>
                  </div><!-- end col -->
                  <div class="col col-12 mx-auto col-md-6 col-lg-4 me-lg-0">
                     <button class="btn btn-lg btn-outline-dark rounded-0 px-4 w-100">
                        <i class="fas fa-paper-plane"></i> Send Message
                     </button>
                  </div><!-- end col -->
               </div><!-- end row -->
            </form> 
            <hr class="my-5 opacity-100">
            <address>
               <h5 class="fs-5 mb-2">
                  <b class="fw-medium">PT. Indraco Global Indonesia</b>
               </h5>
               <p class="mb-4">
                  Jl. Semeru Industri 1 No.133-135 Bambe, <br class="d-none d-md-block"> Driyorejo, Gresik 61177 - Indonesia
                  <br><br>
                  <b class="fw-medium">T</b>. <a href="#" target="_blank">+62 31 766 8777</a>, <a href="#" target="_blank">766 7388</a>
                  <br>
                  <b class="fw-medium">F</b>. <a href="#" target="_blank">+62 31 766 9590</a>
                  <br>
                  <b class="fw-medium">E</b>. <a href="#" target="_blank">info.@indraco.com</a>
               </p>
               <p class="mb-4">
                  <a href="#" target="_blank">www.indraco.com</a> 
                  <br>
                  and explore our <a href="sublink.html" target="_blank">links</a>
               </p>
               <h5 class="mb-1">
                  <b class="fw-medium">Sales Contacts Domestic</b>
               </h5>
               <ul class="list-unstyled contact-list mb-4">
                  <li>
                     <span class="span-link">General Trade</span> : <a href="#" target="_blank">getra@indraco.com</a>
                  </li>
                  <li>
                     <span class="span-link">Modern Trade</span> : <a href="#" target="_blank">motra@indraco.com</a>
                  </li>
                  <li>
                     <span class="span-link">E-Commerce</span> : <a href="#" target="_blank">ecom@indraco.com</a>
                  </li>
                  <li>
                     <span class="span-link">Food Service</span> : <a href="#" target="_blank">fopro@indraco.com</a>
                  </li>
                  <li>
                     <span class="span-link">F&B Service</span> : <a href="#" target="_blank">fobev@indraco.com</a>
                  </li>
               </ul>
               <h5 class="mb-1">
                  <b class="fw-medium">International</b>
               </h5>
               <ul class="list-unstyled contact-list">
                  <li>
                     <span class="span-link">International</span> : <a href="#" target="_blank">inbus@indraco.com</a>
                  </li>
               </ul>
            </address>
         </div><!-- end container -->
      </section>
   </main>
   <footer>
      <script src="layout/footbar.js"></script>
   </footer>
   <script src="layout/modal-search.js"></script>
   <script src="js/global.js"></script>
   <script>
      $(document).ready(function() {
         $('#nav-contact').addClass('active');
      });
      </script>
</body>
</html>