<!DOCTYPE html>
<html lang="en">
<head>
   <script src="layout/head.js"></script>
   <title>INDRACO &bull; Products Foodservice</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <nav>
      <script src="layout/navbar.js"></script>
   </nav>
   <header>
      <div class="page-title opacity-0 visually-hidden">
         <div class="container">
            <h2 class="fs-4 m-0 text-uppercase">
               <b class="fw-medium">foodservice</b>
            </h2>
         </div><!-- end container -->
      </div><!-- end page title -->
      <div class="container">
         <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb pt-2" style="font-size: .875em;">
               <li class="breadcrumb-item"><a href="products.html">Products</a></li>
               <li class="breadcrumb-item active" aria-current="page">Foodservice</li>
            </ol>
         </nav>
      </div><!-- end breadcrumb page -->
   </header>
   <main>
      <section>
         <div class="container py-4 py-md-5">
            <h5 class="display-4">
               <b class="fw-thin">Coffee</b>
            </h5>
            <p class="lead">
               From Sumatra to Papua, a series of highly-valued, well-known Indonesian specialty coffee.
            </p>
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <h5 class="display-4">
               <b class="fw-thin">Creamer</b>
            </h5>
            <p class="lead">
               Quality creamer with high production and quality assurance standards, for home and industry-scale needs.
            </p>
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <h5 class="display-4">
               <b class="fw-thin">Tea</b>
            </h5>
            <p class="lead">
               Authentic Indonesian tea experience with rich traditions, smooth touches and much-loved original flavors.
            </p>
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <h5 class="display-4">
               <b class="fw-thin">Ginger</b>
            </h5>
            <p class="lead">
               Premium ginger drinks that give balanced warmth, available in variants.
            </p>
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <h5 class="display-4">
               <b class="fw-thin">Cocoa</b>
            </h5>
            <p class="lead">
               From Indonesian cocoa plantations, our cocoa products are authentic and have a well-balanced texture and body.
            </p>
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <h5 class="display-4">
               <b class="fw-thin">Sugar</b>
            </h5>
            <p class="lead">
               Sugar and other sweetening products are available for any types of production and business scale.
            </p>
         </div><!-- end container -->
      </section>
   </main>
   <footer>
      <script src="layout/footbar.js"></script>
   </footer>
   <script src="layout/modal-search.js"></script>
   <script src="js/global.js"></script>
   <script>
      $(document).ready(function() {
         $('#nav-products').addClass('active');
      });
   </script>
</body>
</html>