<!DOCTYPE html>
<html lang="en">
<head>
   <script src="layout/head.js"></script>
   <title>INDRACO &bull; Roasting Fine Exquisite Coffee Since 1971</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <nav>
      <script src="layout/navbar.js"></script>
   </nav>
   <header>
      <div id="home-banner" class="banner text-bg-dark"></div><!-- end banner -->
   </header>
   <main>
      <section class="py-4 py-md-5">
         <div class="container">
            <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, qui adipisci? Quae nobis id ad corrupti omnis voluptatibus? Quos fuga amet laboriosam illum itaque ipsum voluptatibus quia animi aspernatur consequatur?
            </p>
         </div><!-- end container -->
      </section>
      <section class="vh-100"></section>
   </main>
   <footer>
      <script src="layout/footbar.js"></script>
   </footer>
   <script src="js/global.js"></script>
   <script>
      $(document).ready(function() {
         $('body').addClass('pt-0');
         $('.navbar').addClass('navbar-invert');
         // $('#nav-about').addClass('active');
      });
   </script>
</body>
</html>