<!DOCTYPE html>
<html lang="en">
<head>
   <script src="layout/head.js"></script>
   <title>INDRACO &bull; Roasting Fine Exquisite Coffee Since 1971</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <nav>
      <script src="layout/navbar.js"></script>
   </nav>
   <header>
      <div id="home-banner" class="banner text-bg-dark d-flex align-items-center" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent), url(../../asset/img/home-banner-default.jpeg); background-repeat: no-repeat; background-position: center; background-size: cover;">
         <div class="w-100" style="background-color: rgba(0, 0, 0, .5);">
            <div class="container py-5">
               <h5 class="fw-thin display-4">
                  Innovation & <br><b class="fw-medium">Future</b>
               </h5>
            </div><!-- end container -->
         </div>
      </div><!-- end banner -->
   </header>
   <main>
      <section>
         <div class="container py-4 py-md-5">
            <div class="row justify-content-between row-gap-4">
               <div class="col col-12 col-xl-7">
                  <h2 class="page-title fs-3 mb-4">
                     <b class="fw-medium">PT. Indraco Global Indonesia</b>
                  </h2>
                  <p class="fs-5">
                     WE ARE INDRACO - Beginning in 1971 with a warehouse in Sumatra by our forefathers, we have been continuing to thrive and expand into several advanced manufacturing facilities across Indonesia and Singapore.
                     <br><br>
                     At Indraco, we strive to innovate in the ever-changing industry and be able to operate with ingenuity and creativity that we proudly carry and instil in all our endeavours, from the moment of our creation.
                  </p>
               </div><!-- end col -->
               <div class="col col-12 col-lg-auto">
                  <div class="rounded-4 text-bg-dark d-flex flex-column p-4" style="aspect-ratio: 1/1; max-width: 16rem;">
                     <div class="flex-grow-1">
                        <h5 class="fs-2 mb-4 fw-thin">
                           Our <br><b class="fw-medium">Newsletter</b>
                        </h5>
                     </div>
                     <div class="flex-grow-0">
                        <div class="input-group border-bottom border-light">
                           <input type="email" class="form-control text-white bg-transparent rounded-0 border-0 shadow-none px-0" placeholder="Email Address">
                           <button class="btn text-reset rounded-0 border-0 shadow-none p-0">
                              <i class="fas fa-envelope fa-xl"></i>
                           </button>
                        </div>
                     </div>
                  </div>
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <h2 class="page-title fs-3 mb-4">
               <b class="fw-medium">WHAT WE DO</b>
            </h2>
            <div class="row row-cols-1 row-cols-md-auto g-3 justify-content-center justify-content-xl-between">
               <div class="col">
                  <div class="text-bg-light rounded-4 p-4 h-100" style="max-width: 22rem;">
                     <h5 class="mb-3">
                        <b class="fw-medium">
                           Distribution <br>Channels.
                        </b>
                     </h5>
                     <p>
                        We operate a nation-wide distribution system with multiple, reliable channels to support the spread of our mission and to supply the best of our services.
                     </p>
                  </div>
               </div><!-- end col -->
               <div class="col">
                  <div class="text-bg-light rounded-4 p-4 h-100" style="max-width: 22rem;">
                     <h5 class="mb-3">
                        <b class="fw-medium">
                           Online <br>Channels.
                        </b>
                     </h5>
                     <p>
                        Sophisticated online channels are up and running for our customers to search, explore and enjoy our products in the easiest ways possible.
                     </p>
                  </div>
               </div><!-- end col -->
               <div class="col">
                  <div class="text-bg-light rounded-4 p-4 h-100" style="max-width: 22rem;">
                     <h5 class="mb-3">
                        <b class="fw-medium">
                           F&B <br>Channels.
                        </b>
                     </h5>
                     <p>
                        Series of F&B services that we excel in, presented with the best experience-centered styles and culture.
                     </p>
                  </div>
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <div class="row row-gap-4 justify-content-xl-between">
               <div class="col col-12 col-lg-auto">

                  <div class="text-capitalize position-relative d-none">
                     <div class="position-absolute top-0 end-0 w-50" style="z-index: -1;">
                        <div class="bg-light rounded-4" style="aspect-ratio: 1/1;"></div>
                     </div>
                     <div class="pt-4 pe-3">
                        <div class="fw-thin lh-1 mb-3" style="font-size: 3.5em;">
                           MORE THAN <br>
                           <b class="fw-medium">1.000.000 +</b>
                        </div>
                        <div class="fs-4">customers trust us</div>
                     </div>
                  </div>

               </div><!-- end col -->
               <div class="col col-12 col-lg col-xl-7">
                  <p>
                     We are now looking for potential business relations for both domestic and international fields. Should you have any interests related to our company and products, do not hesitate to contact us directly. We would appreciate your interests and are looking forward to working with you.
                  </p>
                  <a href="#" class="btn btn-outline-dark rounded-0">
                     Contact Us
                  </a>
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quasi atque repudiandae. Minus, neque doloremque impedit obcaecati dolor sapiente. Ea quam deserunt voluptate aut nihil dicta tempora, dolorem quidem deleniti.
            </p>
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quasi atque repudiandae. Minus, neque doloremque impedit obcaecati dolor sapiente. Ea quam deserunt voluptate aut nihil dicta tempora, dolorem quidem deleniti.
            </p>
         </div><!-- end container -->
      </section>
   </main>
   <footer>
      <script src="layout/footbar.js"></script>
   </footer>
   <script src="js/global.js"></script>
   <script>
      $(document).ready(function() {
         $('body').addClass('pt-0');
         $('.navbar').addClass('navbar-invert');
         // $('#nav-about').addClass('active');
      });
   </script>
</body>
</html>