<!DOCTYPE html>
<html lang="en">
<head>
   <script src="layout/head.js"></script>
   <title>INDRACO &bull; Roasting Fine Exquisite Coffee Since 1971</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <div class="wrapper">
      <div class="page">
         <header class="page-header">
            <script src="layout/navbar.js"></script>
            <div class="banner"></div><!-- end banner -->
         </header><!-- end page wrapper -->
         <main class="page-body bg-secondary">
            <section>
               <div class="container py- py-lg-5">
                  <p>
                     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium rem placeat vitae cupiditate reprehenderit autem animi aliquid inventore, nesciunt perferendis quasi, aut adipisci numquam eligendi assumenda necessitatibus cum, sed illum.
                  </p>
               </div><!-- end container -->
            </section>
         </main><!-- end page body -->
         <footer class="page-footer">
            <div class="footbar">
               <div class="container">
                  <div class="row row-cols-1">
                     <div class="col">
                        <p>
                           Hak cipta &copy; 2021 - <script>document.write(new Date().getFullYear())</script> INDRACO. Seluruh hak dilindungi undang-undang.
                        </p>
                     </div><!-- end col -->
                  </div><!-- end row -->
               </div><!-- end container -->
            </div><!-- end footbar -->
         </footer><!-- end page footer -->
      </div><!-- end page -->
   </div><!-- end wrapper -->
   <script src="js/global.js"></script>
   <script>
      $(document).ready(function() {
         $('#nav-about').addClass('active');
      })
   </script>
</body>
</html>