<!DOCTYPE html>
<html lang="en">
<head>
   <script src="layout/head.js"></script>
   <title>INDRACO &bull; Products Machine & Equipment</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <nav>
      <script src="layout/navbar.js"></script>
   </nav>
   <header>
      <div class="page-title pt-3 d-lg-none">
         <div class="container d-flex flex-column row-gap-3">
            <h2 class="fs-4 m-0 text-uppercase">
               <b class="fw-medium">machine & equipment</b>
            </h2>
         </div><!-- end container -->
      </div><!-- end page title -->
      <div class="container">
         <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb pt-2" style="font-size: .875em;">
               <li class="breadcrumb-item"><a href="products.html">Products</a></li>
               <li class="breadcrumb-item active" aria-current="page">Machine & Equipment</li>
            </ol>
         </nav>
      </div><!-- end breadcrumb page -->
   </header>
   <main>
      <section>
         <div class="container py-4 py-md-5">
            <header>
               <h5 class="display-4">
                  <b class="fw-thin">Coffee</b>
                  <br>
                  <b class="fw-medium">Machines</b>
               </h5>
               <p class="lead">
                  Keeping coffee at its best with meticulous process using sophisticated coffee machines.
               </p>
            </header>
            <main class="collapse d-lg-block" id="collapse-coffee-machines">
               <div class="row row-gap-4 text-center text-lg-start pt-5 gx-xxl-5">
                  <div class="col col-12 col-lg-6 col-xl-4">
                     <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                        <img src="../../asset/img/machine-1.svg" class="object-fit-contain" alt="">
                     </div>
                     <h5 class="page-title fs-5 my-3">
                        <b class="fw-medium">Fully-automatic Coffee Machines</b>
                     </h5>
                     <p>
                        Get your coffee ready in minutes, using only taps of your fingers on these fully-automatic coffee machines. Compact and reliable for daily use.
                     </p>
                  </div><!-- end col -->
                  <div class="col col-12 col-lg-6 col-xl-4">
                     <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                        <img src="../../asset/img/machine-2.svg" class="object-fit-contain" alt="">
                     </div>
                     <h5 class="page-title fs-5 my-3">
                        <b class="fw-medium">Semi-automatic Coffee Machines</b>
                     </h5>
                     <p>
                        Prepare your coffee with ease, by utilizing our semi-automatic coffee machines. Easy to use, ready in minutes. 
                     </p>
                  </div><!-- end col -->
                  <div class="col col-12 col-lg-6 col-xl-4">
                     <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                        <img src="../../asset/img/machine-3.svg" class="object-fit-contain" alt="">
                     </div>
                     <h5 class="page-title fs-5 my-3">
                        <b class="fw-medium">Brewing Systems</b>
                     </h5>
                     <p>
                        With expert knowledge, we present you coffee brewing systems that serve various settings and methods, all for quality and the best taste. 
                     </p>
                  </div><!-- end col -->
                  <div class="col col-12 col-lg-6 col-xl-4">
                     <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                        <img src="../../asset/img/machine-4.svg" class="object-fit-contain" alt="">
                     </div>
                     <h5 class="page-title fs-5 my-3">
                        <b class="fw-medium">Coffee Capsule Machines</b>
                     </h5>
                     <p>
                        Anyone can make a good coffee, with our coffee capsule machine series. Easy to use, energy-efficient machines for the best coffee experience.
                     </p>
                  </div><!-- end col -->
                  <div class="col col-12 col-lg-6 col-xl-4">
                     <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                        <img src="../../asset/img/machine-5.svg" class="object-fit-contain" alt="">
                     </div>
                     <h5 class="page-title fs-5 my-3">
                        <b class="fw-medium">Grinders</b>
                     </h5>
                     <p>
                        For personal and professional settings, get the best of our coffee grinders, the better way to serve coffee in its authenticity.
                     </p>
                  </div><!-- end col -->
               </div><!-- end row -->
            </main>
            <footer class="text-end d-lg-none">
               <button type="button" class="btn btn-explore-section collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-coffee-machines">
                  <i class="fas fa-chevron-down fa-xl"></i>
               </button>
            </footer>
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <header>
               <h5 class="display-4">
                  <b class="fw-thin">Beverage</b>
                  <br>
                  <b class="fw-medium">Dispensers</b>
               </h5>
               <p class="lead">
                  A set of new-tech beverage dispensers that save you time and quality.
               </p>
            </header>
            <main class="collapse d-lg-block" id="collapse-beverage-dispensers">
               <div class="row row-gap-4 text-center text-lg-start pt-5 gx-xxl-5">
                  <div class="col col-12 col-lg-6 col-xl-4">
                     <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                        <img src="../../asset/img/machine-6.svg" class="object-fit-contain" alt="">
                     </div>
                     <h5 class="page-title fs-5 my-3">
                        <b class="fw-medium">Instant Beverage Machines</b>
                     </h5>
                     <p>
                        Keep your beverages at their finest, and serve it better with our instant beverage machine collection.
                     </p>
                  </div><!-- end col -->
                  <div class="col col-12 col-lg-6 col-xl-4">
                     <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                        <img src="../../asset/img/machine-7.svg" class="object-fit-contain" alt="">
                     </div>
                     <h5 class="page-title fs-5 my-3">
                        <b class="fw-medium">Cold Drink Dispensers</b>
                     </h5>
                     <p>
                        For all kinds of refreshments! Our cold drink dispensers are here for various uses, here for all the fun.
                     </p>
                  </div><!-- end col -->
               </div><!-- end row -->
            </main>
            <footer class="text-end d-lg-none">
               <button type="button" class="btn btn-explore-section collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-beverage-dispensers">
                  <i class="fas fa-chevron-down fa-xl"></i>
               </button>
            </footer>
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <header>
               <h5 class="display-4">
                  <b class="fw-thin">Accessories</b>
               </h5>
               <p class="lead">
                  From milk frothers to double wall glass cups, enjoy our various, custom-based traditional tools that show consistency throughout.
               </p>
            </header>
            <main class="collapse d-lg-block" id="collapse-accessories">
               <div class="row row-gap-4 text-center text-lg-start pt-5 gx-xxl-5">
                  <div class="col col-12 col-lg-6 col-xl-4">
                     <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                        <img src="../../asset/img/machine-8.svg" class="object-fit-contain" alt="">
                     </div>
                     <h5 class="page-title fs-5 my-3">
                        <b class="fw-medium">Milk Frothers</b>
                     </h5>
                     <p>
                        Keep your milk at its best quality and freshness. Our set of milk frothers ensure that you enjoy only the best milk everyday.
                     </p>
                  </div><!-- end col -->
                  <div class="col col-12 col-lg-6 col-xl-4">
                     <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                        <img src="../../asset/img/machine-9.svg" class="object-fit-contain" alt="">
                     </div>
                     <h5 class="page-title fs-5 my-3">
                        <b class="fw-medium">Electric Kettles</b>
                     </h5>
                     <p>
                        Keeping your coffee or tea at the perfect temperature requires certain dedication. Our electric kettles keep the temperature longer for your brew.
                     </p>
                  </div><!-- end col -->
                  <div class="col col-12 col-lg-6 col-xl-4">
                     <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                        <img src="../../asset/img/machine-10.svg" class="object-fit-contain" alt="">
                     </div>
                     <h5 class="page-title fs-5 my-3">
                        <b class="fw-medium">French Press</b>
                     </h5>
                     <p>
                        Artistic touches of a French Press tool are reaching out to you.
                     </p>
                  </div><!-- end col -->
                  <div class="col col-12 col-lg-6 col-xl-4">
                     <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                        <img src="../../asset/img/machine-11.svg" class="object-fit-contain" alt="">
                     </div>
                     <h5 class="page-title fs-5 my-3">
                        <b class="fw-medium">Moka Pot</b>
                     </h5>
                     <p>
                        Using the legendary moka pot flow system is one of our favorite brewing methods, the one that produces real coffee experience.
                     </p>
                  </div><!-- end col -->
                  <div class="col col-12 col-lg-6 col-xl-4">
                     <div class="ratio ratio-1x1 mx-auto ms-lg-0" style="width: 6rem;">
                        <img src="../../asset/img/machine-12.svg" class="object-fit-contain" alt="">
                     </div>
                     <h5 class="page-title fs-5 my-3">
                        <b class="fw-medium">Double Wall Glass Cups</b>
                     </h5>
                     <p>
                        The artistic touch of coffee serving, all in your glass cups.
                     </p>
                  </div><!-- end col -->
               </div><!-- end row -->
            </main>
            <footer class="text-end d-lg-none">
               <button type="button" class="btn btn-explore-section collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-accessories">
                  <i class="fas fa-chevron-down fa-xl"></i>
               </button>
            </footer>
         </div><!-- end container -->
      </section>
   </main>
   <footer>
      <script src="layout/footbar.js"></script>
   </footer>
   <script src="js/global.js"></script>
   <script>
      $(document).ready(function() {
         $('#nav-products').addClass('active');
      });
   </script>
</body>
</html>