<!DOCTYPE html>
<html lang="en">
<head>
   <script src="layout/head.js"></script>
   <link rel="stylesheet" href="css/products.css">
   <title>INDRACO &bull; Products</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <nav>
      <script src="layout/navbar.js"></script>
   </nav>
   <header>
      <div class="container pt-4">
         <h2 class="page-title fs-4 m-0">
            <b class="fw-medium">OUR PRODUCTS</b>
         </h2>
      </div><!-- end container -->
   </header>
   <main>
      <section class="overflow-hidden">
         <div class="container py-4 py-md-5">
            <div class="row row-cols-1 row-cols-md-auto align-items-md-center justify-content-md-between">
               <div class="col">
                  <h5 class="display-4">
                     <b class="fw-thin">Products</b>
                     <br>
                     <b class="fw-medium">Consumer</b>
                  </h5>
               </div><!-- end col -->
               <div class="col">
                  <a href="consumer.html" class="btn btn-outline-dark rounded-0">
                     Explore Products
                  </a>
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section class="overflow-hidden">
         <div class="container py-4 py-md-5">
            <div class="row row-cols-1 row-cols-md-auto align-items-md-center justify-content-md-between">
               <div class="col">
                  <h5 class="display-4">
                     <b class="fw-thin">Products</b>
                     <br>
                     <b class="fw-medium">Foodservice</b>
                  </h5>
               </div><!-- end col -->
               <div class="col">
                  <a href="foodservice.html" class="btn btn-outline-dark rounded-0">
                     Explore Products
                  </a>
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section class="overflow-hidden">
         <div class="container py-4 py-md-5">
            <div class="row row-cols-1 row-cols-md-auto align-items-md-center justify-content-md-between">
               <div class="col">
                  <h5 class="display-4">
                     <b class="fw-thin">Machines &</b>
                     <br>
                     <b class="fw-medium">Equipment</b>
                  </h5>
               </div><!-- end col -->
               <div class="col">
                  <a href="me.html" class="btn btn-outline-dark rounded-0">
                     Explore Products
                  </a>
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
   </main>
   <footer>
      <script src="layout/footbar.js"></script>
   </footer>
   <script src="js/global.js"></script>
   <script>
      $(document).ready(function() {
         $('#nav-products').addClass('active');
      });
   </script>
</body>
</html>