<!DOCTYPE html>
<html lang="en">
<head>
   <script src="layout/head.js"></script>
   <link rel="stylesheet" href="css/products.css">
   <title>INDRACO &bull; Official Store</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <nav>
      <script src="layout/navbar.js"></script>
   </nav>
   <header>
      <div class="page-title pt-3 d-lg-none">
         <div class="container d-flex flex-column row-gap-3">
            <h2 class="fs-4 m-0 text-uppercase">
               <b class="fw-medium">official stores</b>
            </h2>
         </div><!-- end container -->
      </div><!-- end page title -->
   </header>
   <main>
      <section>
         <div class="container py-4 py-md-5">
            <header>
               <h5 class="display-4 mb-4">
                  <b class="fw-thin">E-commerce</b>
               </h5>
            </header>
            <div class="row row-cols-2 row-gap-4 row-cols-sm-auto column-gap-sm-5 align-items-center">
               <div class="col">
                  <a href="#" target="_blank" class="text-decoration-none text-reset">
                     <img src="../../asset/img/logo-indracostore.png" width="100%" height="auto" style="max-width: 14rem;" alt="">
                  </a>
               </div><!-- end col -->
               <div class="col">
                  <a href="#" target="_blank" class="text-decoration-none text-reset">
                     <img src="../../asset/img/logo-supresso-typograph.png" width="100%" height="auto" style="max-width: 14rem;" alt="">
                  </a>
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
      <div class="container"><hr class="m-0"></div><!-- end container -->
      <section>
         <div class="container py-4 py-md-5">
            <header>
               <h5 class="display-4 mb-4">
                  <b class="fw-thin">Marketplace</b>
               </h5>
            </header>
            <div class="row row-cols-2 row-gap-4 row-cols-sm-auto column-gap-sm-5 align-items-center">
               <div class="col">
                  <a href="#" target="_blank" class="text-decoration-none text-reset">
                     <img src="../../asset/img/logo-shopee.png" width="100%" height="auto" style="max-width: 9rem;" alt="">
                  </a>
               </div><!-- end col -->
               <div class="col">
                  <a href="#" target="_blank" class="text-decoration-none text-reset">
                     <img src="../../asset/img/logo-lazada.png" width="100%" height="auto" style="max-width: 10rem;" alt="">
                  </a>
               </div><!-- end col -->
               <div class="col">
                  <a href="#" target="_blank" class="text-decoration-none text-reset">
                     <img src="../../asset/img/logo-tokopedia.png" width="100%" height="auto" style="max-width: 10rem;" alt="">
                  </a>
               </div><!-- end col -->
               <div class="col">
                  <a href="#" target="_blank" class="text-decoration-none text-reset">
                     <img src="../../asset/img/logo-blibli.png" width="100%" height="auto" style="max-width: 7rem;" alt="">
                  </a>
               </div><!-- end col -->
               <div class="col">
                  <a href="#" target="_blank" class="text-decoration-none text-reset">
                     <img src="../../asset/img/logo-tiktok.png" width="100%" height="auto" style="max-width: 12rem;" alt="">
                  </a>
               </div><!-- end col -->
            </div><!-- end row -->
         </div><!-- end container -->
      </section>
   </main>
   <footer>
      <script src="layout/footbar.js"></script>
   </footer>
   <script src="js/global.js"></script>
   <script>
      $(document).ready(function() {
         $('#nav-stores').addClass('active');
      });
      </script>
</body>
</html>